$moderateMainBg: #e8e8e8;
$moderateButtonBg: #c6c6c6;
$moderateButtonBgHover: #afafaf;
$moderateButtonBgActive: #969595;

$PrivateOfficeMainBg: #ff581b;
$PrivateOfficeButtonBg: #ff5319;
$PrivateOfficeButtonBgHover: #e04815;
$PrivateOfficeButtonBgActive: #ca4519;